@font-face
    {
        font-family: "Letter for Learners";
        src: url("Letters for Learners.ttf");
    }
html
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
    }
body
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
        font-family: "Letter for Learners";
        background-image: url("connexion.jpg");
        background-size: cover;
        background-position: center;
    }
header
    {
        display: flex;
        flex-direction: row;
        height: 10vh;
        align-items: center;
        border-bottom: 1px dashed white;
        background-color: rgba(255, 255, 255, 0.616);
    }
header nav 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        height: 7vh;
        font-size: 30px;
        font-weight: bold;
    }
header a
    {
        text-decoration: none;
        flex-grow: 0.06;
        text-align: center;
        border: 1px solid white;
        border-top-left-radius:40px;
        border-bottom-right-radius: 40px;
        color:white;
        background-color: black;
    }
header a:hover  
    {
        color: red;
        font-weight: normal;
        background-color: white;
        border: 1px solid black;
    }
main    
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
    }
form
    {
        display: flex;
        flex-direction: column;
        background-color: rgba(68, 71, 76, 0.452);
        backdrop-filter: blur(5px);
        border: 2px solid white;
        border-radius: 100px;
        align-items: center;
        justify-content: space-evenly;
    }
legend
    {
        display: flex;
        padding-left: 1vw;
        padding-right: 1vw;
        margin: 0;
        border: 1px solid black;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: white;
        font-size: 25px;
    }
fieldset
    {
        background-color: rgba(12, 14, 107, 0.781);
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2vh;
        border: 1px solid white;
        border-radius: 10px;
    }
label
    {
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
button
    {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        width: 7vw;
        height: 5vh;
        border: 1px solid white;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-size: 17px;
        padding-bottom: 1vh;
    }
button:hover
    {
        background-color: white;
        color: red;
        border: 1px solid black;
    }
    /* Connexion */
#formconnexion
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40vh;
        width: 40vw;
        margin: 0;
    }
#fsconnexion
    {
        width: 30vw;
        height: 22vh;
        display: flex;
        justify-content: center;
    }
.connexion
    {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
    }
#info
    {
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 20vh;
        background-color: rgba(68, 71, 76, 0.452);
        backdrop-filter: blur(5px);
        border: 2px solid white;
        border-radius: 20px;
        justify-content: space-around;
        align-items: center;
        color: white;
        text-align: center;
        font-size: 25px;
        margin: 0;
    }
#info a
    {
        font-weight: bold;
        text-decoration: none;
        color:rgb(196, 14, 14);
    }
#info a:hover
{
    text-decoration: underline;
}
#info p
    {
        height: 5vh;
        margin: 0;
    }
    /* Mot de passe */
#formmdp
    {
        display: flex;
        height: 50vh;
        width: 50vw;
        margin: 0;
        text-align: center;
        flex-wrap: wrap;
    }
#legendmdp
    {
        margin-top: 1vh;
    }
.txtmdp
    {
        display: flex;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
#fsmdp
    {
        width: 30vw;
        height: 5vh;
    }
#mdp
    {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1vh;
    }
#btnmpd
    {
        display: flex;
        justify-content: center;
    }
    /* inscription */
footer
    {
        display: flex;
        flex-direction: row;
        height: 12vh;
        align-items: center;
        border-top: 1px dashed black;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.616);
    }
footer a    
    {
        text-decoration: none;
        flex-grow: 0.05;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: black;
    }
footer a:hover
    {
        color: red;
        font-weight: normal;
    }
#cerveau
    {
        height: 10vh;
        margin-left: 12vw;
    }